extends layout
block content
  #banner.page-header 
    .row 
      .col-lg-6 
        h1 
          | MekanBul
          small &nbsp; Civardaki mekanları keşfet! 
  .row 
    .row.list-group 
    .col-xs-12.col-sm-12 
      .col-xs-12.list-group-item 
        h4 
          a(href="/mekan") Safir
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
        span.badge.pull-right.badge-default 2 KM
        p.address SDU Batı Kampüsü
        p 
          span.label.label-warning Kahve
          | &nbsp;
          span.label.label-warning Fast-Food
    .row.list-group 
    .col-xs-12.col-sm-12 
      .col-xs-12.list-group-item 
        h4 
          a(href="/mekan") Cam Cafe
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty 
          span.glyphicon.glyphicon-star-empty
          span.glyphicon.glyphicon-star-empty
          span.glyphicon.glyphicon-star-empty
        span.badge.pull-right.badge-default 3 KM
        p.address SDU Batı Kampüsü
        p 
          span.label.label-warning Öğrenci
          | &nbsp;
          span.label.label-warning Tavla
 
